.NavNotAuth__nav-logo {
    height: 32px;
    width: 32px;
}

.NavNotAuth__nav-container {
    display: flex;
    align-items: center;
}

.NavNotAuth__nav-tittle {
    font-family: 'Anton', sans-serif;
    font-size: 1.5em;
}
