.NavAuth__main-container {
    margin-bottom: 4.5rem;
}

.NavAuth__nav-logo {
    height: 32px;
    width: 32px;
}

.NavAuth__nav-container {
    display: flex;
    align-items: center;
}

.NavAuth__nav-tittle {
    font-family: 'Anton', sans-serif;
    font-size: 1.5em;
}

.NavAuth__nav-message {
    position: relative;
    margin-left: 15em;
}

#NavAuth__nav-welcome {
    color: black;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

#NavAuth__nav-welcome > span {
    color: #302c9b;
    text-decoration: underline;
}
