.LegalTexts__main-container {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

.LegalTexts__img-container > img {
    height: 25em;
    width: 25em;
}

.LegalTexts__text-container > h1 {
    color: royalblue;
    margin-bottom: 1.5em;
}
