.HomeAuth__main-container {
    font-family: 'Rubik', sans-serif;
}

.HomeAuth__row-container {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 5em;
    font-weight: bold;
    border-bottom: 1px solid darkblue;
}

.HomeAuth__row-container > p {
    margin-top: 3em;
}

.HomeAuth__row-container > p > img{
    margin-right: 1.2em;
    padding-bottom: 2px;
    margin-left: 1.1em;
    margin: 0;
}
